@import "tailwindcss";

:root {
    --black: #0F002E;
    --gray: #363945;
    --white: #F8F8FF;
    --blue: #03DFFC;
    --purple: #8C00FF;
    --pink: #ED40BC;
    --green: #00FF00;
    --yellow: #FFDD00;
    --red: #FF0000;
    --orange: #FF9500;
}

@theme inline {
    --color-black: var(--black);
    --color-gray: var(--gray);
    --color-white: var(--white);
    --color-blue: var(--blue);
    --color-purple: var(--purple);
    --color-pink: var(--pink);
    --color-green: var(--green);
    --color-yellow: var(--yellow);
    --color-red: var(--red);
    --color-orange: var(--orange);
    --font-digitalDisco: "DigitalDisco";
    --font-digitalDisco-thin: "DigitalDisco thin";
    --font-dogica: "dogica";
    --font-dogica-bold: "dogica bold";
    --font-dogicaPixel: "Dogica Pixel";
    --font-dogicaPixel-bold: "Dogica Pixel bold";
    --font-emojiFont: "EmojiFont";
    --font-karma-future: "Karma future";
    --font-karma-suture: "Karma suture";
    --font-vcrosd: "VCR OSD Mono";
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

@font-face {
    font-family: "DigitalDisco monospace medium";
    font-style: medium;
    font-weight: 200 700;
    font-display: swap;
    src: url("/fonts/DigitalDisco.ttf") format("ttf");
}

@font-face {
    font-family: "DigitalDisco monospace thin";
    font-style: thin;
    font-weight: 200 700;
    font-display: swap;
    src: url("/fonts/DigitalDisco-Thin.ttf") format("ttf");
}

@font-face {
    font-family: "dogica monospace regular";
    font-style: regular;
    font-weight: 200 700;
    font-display: swap;
    src: url("/fonts/dogica.ttf") format("ttf");
}

@font-face {
    font-family: "dogica monospace bold";
    font-style: bold;
    font-weight: 200 700;
    font-display: swap;
    src: url("/fonts/dogicabold.ttf") format("ttf");
}

@font-face {
    font-family: "Dogica Pixel monospace regular";
    font-style: regular;
    font-weight: 200 700;
    font-display: swap;
    src: url("/fonts/dogicapixel.ttf") format("ttf");
}

@font-face {
    font-family: "Dogica Pixel monospace bold";
    font-style: bold;
    font-weight: 200 700;
    font-display: swap;
    src: url("/fonts/dogicapixelbold.ttf") format("ttf");
}

@font-face {
    font-family: "EmojiFont monospace regular";
    font-style: regular;
    font-weight: 200 700;
    font-display: swap;
    src: url("/fonts/EmojiFont.ttf") format("ttf");
}

@font-face {
    font-family: "Karma monospace future";
    font-style: future;
    font-weight: 200 700;
    font-display: swap;
    src: url("/fonts/Karma Future.otf") format("otf");
}

@font-face {
    font-family: "Karma monospace suture";
    font-style: suture;
    font-weight: 200 700;
    font-display: swap;
    src: url("/fonts/Karma Suture.otf") format("otf");
}

@font-face {
    font-family: "VCR OSD Mono monospace regular";
    font-style: regular;
    font-weight: 200 700;
    font-display: swap;
    src: url("/fonts/VCR_OSD_MONO_1.001.ttf") format("ttf");
}

body {
    background-color: var(--black);
}

main {
    margin: 2rem;
}
